.padding-block-sm-10px {
  padding-block: 10px;
}

.padding-inline-sm-10px {
  padding-inline: 10px;
}

.padding-block-sm-15px {
  padding-block: 15px;
}

.padding-inline-sm-15px {
  padding-inline: 15px;
}

.padding-block-sm-20px {
  padding-block: 20px;
}

.padding-inline-sm-20px {
  padding-inline: 20px;
}

.padding-block-sm-25px {
  padding-block: 25px;
}

.padding-inline-sm-25px {
  padding-inline: 25px;
}

.padding-block-sm-30px {
  padding-block: 30px;
}

.padding-inline-sm-30px {
  padding-inline: 30px;
}

.padding-block-sm-35px {
  padding-block: 35px;
}

.padding-inline-sm-35px {
  padding-inline: 35px;
}

.padding-block-normal-10px {
  padding-block: 10px;
}

.padding-inline-normal-10px {
  padding-inline: 10px;
}

.padding-block-normal-15px {
  padding-block: 15px;
}

.padding-inline-normal-15px {
  padding-inline: 15px;
}

.padding-block-normal-20px {
  padding-block: 20px;
}

.padding-inline-normal-20px {
  padding-inline: 20px;
}

.padding-block-normal-25px {
  padding-block: 25px;
}

.padding-inline-normal-25px {
  padding-inline: 25px;
}

.padding-block-normal-30px {
  padding-block: 30px;
}

.padding-inline-normal-30px {
  padding-inline: 30px;
}

.padding-block-normal-35px {
  padding-block: 35px;
}

.padding-inline-normal-35px {
  padding-inline: 35px;
}

.padding-block-md-10px {
  padding-block: 10px;
}

.padding-inline-md-10px {
  padding-inline: 10px;
}

.padding-block-md-15px {
  padding-block: 15px;
}

.padding-inline-md-15px {
  padding-inline: 15px;
}

.padding-block-md-20px {
  padding-block: 20px;
}

.padding-inline-md-20px {
  padding-inline: 20px;
}

.padding-block-md-25px {
  padding-block: 25px;
}

.padding-inline-md-25px {
  padding-inline: 25px;
}

.padding-block-md-30px {
  padding-block: 30px;
}

.padding-inline-md-30px {
  padding-inline: 30px;
}

.padding-block-md-35px {
  padding-block: 35px;
}

.padding-inline-md-35px {
  padding-inline: 35px;
}

.padding-block-lg-10px {
  padding-block: 10px;
}

.padding-inline-lg-10px {
  padding-inline: 10px;
}

.padding-block-lg-15px {
  padding-block: 15px;
}

.padding-inline-lg-15px {
  padding-inline: 15px;
}

.padding-block-lg-20px {
  padding-block: 20px;
}

.padding-inline-lg-20px {
  padding-inline: 20px;
}

.padding-block-lg-25px {
  padding-block: 25px;
}

.padding-inline-lg-25px {
  padding-inline: 25px;
}

.padding-block-lg-30px {
  padding-block: 30px;
}

.padding-inline-lg-30px {
  padding-inline: 30px;
}

.padding-block-lg-35px {
  padding-block: 35px;
}

.padding-inline-lg-35px {
  padding-inline: 35px;
}

.padding-block-xl-10px {
  padding-block: 10px;
}

.padding-inline-xl-10px {
  padding-inline: 10px;
}

.padding-block-xl-15px {
  padding-block: 15px;
}

.padding-inline-xl-15px {
  padding-inline: 15px;
}

.padding-block-xl-20px {
  padding-block: 20px;
}

.padding-inline-xl-20px {
  padding-inline: 20px;
}

.padding-block-xl-25px {
  padding-block: 25px;
}

.padding-inline-xl-25px {
  padding-inline: 25px;
}

.padding-block-xl-30px {
  padding-block: 30px;
}

.padding-inline-xl-30px {
  padding-inline: 30px;
}

.padding-block-xl-35px {
  padding-block: 35px;
}

.padding-inline-xl-35px {
  padding-inline: 35px;
}

.padding-block-xxl-10px {
  padding-block: 10px;
}

.padding-inline-xxl-10px {
  padding-inline: 10px;
}

.padding-block-xxl-15px {
  padding-block: 15px;
}

.padding-inline-xxl-15px {
  padding-inline: 15px;
}

.padding-block-xxl-20px {
  padding-block: 20px;
}

.padding-inline-xxl-20px {
  padding-inline: 20px;
}

.padding-block-xxl-25px {
  padding-block: 25px;
}

.padding-inline-xxl-25px {
  padding-inline: 25px;
}

.padding-block-xxl-30px {
  padding-block: 30px;
}

.padding-inline-xxl-30px {
  padding-inline: 30px;
}

.padding-block-xxl-35px {
  padding-block: 35px;
}

.padding-inline-xxl-35px {
  padding-inline: 35px;
}

.singleBtn-0cff {
  background-color: 0cff;
}

.singleBtn-ff8700 {
  background-color: ff8700;
}

.singleBtn-4caf50 {
  background-color: 4caf50;
}

nav {
  background-image: url(https://media-assets.wired.it/photos/628f821638e4f91a835c8f61/16:9/w_2560%2Cc_limit/buco%2520nero.jpg);
  height: 150px;
  display: flex;
  justify-content: center;
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  margin-left: 2rem;
}

section {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.aside {
  width: 200px;
  height: 200px;
  background-image: url(https://placedog.net/100/200);
  border-radius: 25px;
  box-shadow: 3px 3px 8px 2px;
  border: 2px solid yellowgreen;
}

h1 {
  font-size: 4rem;
  margin-top: 1rem;
  text-align: center;
  color: aquamarine;
}

.griglia {
  display: flex;
  justify-content: space-around;
  margin-top: 5rem;
}

.griglia div {
  width: 200px;
  height: 200px;
  border-radius: 25px;
  box-shadow: 3px 3px 8px 2px;
  border: 2px solid yellowgreen;
  box-shadow: none;
  border: none;
}/*# sourceMappingURL=style.css.map */